.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  border-color:blue;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

tr.active td {
  padding-top: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  color: black;
}

.td-content1 {
  padding-top: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  color:black;
}


// Place all the styles related to the Base_points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
