// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}
.user-table td  {
  font-size: 19px;
}
/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }
  td {
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    color: #555555;
  }
}
.form {
  color: black;
  font-size: 20px;
}
/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit{
  margin-top: 5px;
}

.btn-user--edit{
  margin-top: 10px;
}

/*ユーザー一覧ページ*/

#table-users{
  td{
    vertical-align: middle;
  }
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.btn {
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  font-size: 14px;
  user-select: none;
}
.btn-lg, .btn-group-lg>.btn {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.container_1{
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  background: #F2F2F2;
  padding: 5px 10px 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  position: relative;
}
.search_item {
  height: 34px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 6px;
}


/* attendandeモデル追加 出勤登録ボタン*/
.btn-attendance {
  font-size: 20px;
  height: 40px;
  vertical-align: auto;
  padding: 10;
}